* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #e6e6e6;
}

.container header {
    background-color: #339966;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 3rem;
    line-height: 1rem;
    width: 100%;
}

.container header .left-block {
    width: 50%;
}

.container header .right-block {
    flex-direction: row;
}

.container header .right-block .form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 1rem;
}

.container header .right-block .form-field p {
    margin-right: 2rem;
}

button {
    font-size: 0.95rem;
    width: 5rem;
    border: none;
    border-radius: 8px;
    height: 2rem;
    color: #262626;
    transition: background-color 2s;
    cursor: pointer;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
}

#converter {
    font-weight: bold;
}

button:hover {
    background-color: #e6e6e6;
    color: #0d0d0d;
}

.container main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: -4rem 0 0 0;
    color: #262626;
}

.container main .input {
    background-color: #F0F0F0;
    width: 50%;
    margin: 0 1rem;
    padding: 2rem;
    padding-top: 0;
    border-radius: 8px;
}

.container main .output {
    background-color: #F0F0F0;
    width: 50%;
    margin: 0 1rem;
    padding: 2rem;
    padding-top: 0;
    border-radius: 8px;
}

.container main .text-box {
    background-color: #FFF;
    border-radius: 8px;
    padding: 1rem;
    line-height: 1rem;
    overflow: auto;
    height: 28rem;
}