main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.left {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 50px;
}
.left h1 {
    font-size: 48px;
    margin: 15px;
}
.left p {
    font-size: 28px;
    margin: 15px;
}
.right {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    margin: 50px;
    box-shadow: 1px 1px 10px 1px #BEBEBE;
}
.right input {
    height: 50px;
    width: 300px;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 1px #BEBEBE;
}
.right input:focus {
    outline: none !important;
    border: solid 2px var(--title-color);
}
.right .login {
    height: 50px;
    width: 300px;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    background-color: var(--title-color);
    border: solid 1px var(--title-color);
    transition: background-color 0.2s;
}
.right .login:focus {
    background-color: #f18e96;
}
.right .login:hover {
    background-color: #9f141f;
    cursor: pointer;
}
.right .register {
    height: 50px;
    width: 150px;
    padding: 15px;
    margin: 20px 0 0 25%;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    background-color: #36A420;
    border: solid 1px #36A420;
    transition: background-color 0.2s;
}
.right .register:focus {
    background-color: #b5eeaa;
    pointer-events: none;
}
.right .register:hover {
    background-color: #47883a;
    cursor: pointer;
}